NEXT_PUBLIC_API_URL=http://localhost:3001
DATABASE_URL="postgresql://postgres:password@localhost:5433/ai_employee_db" # Similar to the docker-compose.yml file
# Code required to register a new account. Set this in Render dashboard for ai-employee-web.
REGISTRATION_CODE="admin"
